extends layout.pug

block content
  .container-fluid.bgd-color
    .container
      div.row
        div.col-md-4.mt-5
          - var beer_image = beer.image
            img.max-100(src='' + beer_image + '')
        div.col-md-8
          h2.mt-5 #{beer.name}
          h5.mt-4 Description
          p #{beer.description}
      div.row.text-center
        div.col-12
          h4.mt-5.text-center Stores Available
      div.row
        each store in stores
          div.col-md-3.mt-5
            h5 #{store.name}
            p.mb-0 #{store.address}
            p.mb-0 #{store.city}, #{store.postal_code}
            p.mb-0 #{store.telephone}
